.tableContainer {
  width: 100%;
  border: 1px solid var(--lightgrey);
}

.tableContent {
  width: 100%;
}

.theadContent {
  box-shadow: 0 1px 15px 0 var(--boxShadow);
  min-height: var(--minHeight);
}

.theadTrContent {
}

.theadThContent {
  text-align: left;
  padding: var(--small);
}

.tbodyContent {
}
.tbodyTrContent {
}
.tbodyTdContent {
  padding: var(--small);
}
