.tableContainer {
  width: 100%;
  border: 1px solid var(--lightgrey);
}

.tableContent {
  width: 100%;
}

.theadContent {
  box-shadow: 0 1px 15px 0 var(--boxShadow);
  min-height: var(--minHeight);
}

.theadTrContent {
}

.theadThContent {
  text-align: left;
  padding: var(--small);
}

.tbodyContent {}
.tbodyTrContent {
  position: relative;
}
.tbodyTrIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--borderWidth);
  height: 100%;
  display: block;
  background-color: transparent;
  transition: all linear 0.25s;
}
.tbodyTrContent:hover .tbodyTrIndicator{
  transition: all linear 0.25s;
  background-color: var(--firebrick);
}

.tbodyTdContent {
  position: relative;
  padding: var(--small);
}
