:root {
  --lightgrey: whitesmoke;
  --boxShadow: rgba(0, 0, 0, 0.16);
  --minHeight: 60px;
  --black: black;
  --brown: brown;
  --firebrick: firebrick;
  --borderRadius: 3px;
  --borderWidth: 3px;
  --extraSmall: 0.5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
  --extraLarge: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  height: 100%;
}